.App {
  text-align: center;
}

.tap{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-size: 50px;
}
.word{
  background-color: pink;
  height: 400px;
  text-align: center;
  font-size: 30px;

}
.copy1{
  border: 1px solid black;
  font-size: 20px;
}
.copy2{
  border: 1px solid black;
  font-size: 20px;
}
.space-btween{
  display: flex;
  align-items: center;
  margin-left: 35%;
}